BitVector==3.4.9
certifi==2020.6.20
chardet==3.0.4
cvxopt==1.2.5
cvxpy==1.1.6
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
docplex==2.15.194
ecos==2.0.7.post1
future==0.18.2
h5py==2.10.0
idna==2.10
kiwisolver==1.2.0
matplotlib==3.3.2
mpmath==1.1.0
networkx==2.5
numpy==1.19.2
ortools==7.8.7959
osqp==0.6.1
Pillow==9.3.0
protobuf==3.13.0
pydot==1.4.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
qpsolvers==1.4
quadprog==0.1.7
requests==2.24.0
scipy==1.5.2
scs==2.1.2
six==1.15.0
sympy==1.6.2
torch==1.6.0
urllib3==1.25.10
